n8n-rag-pdf-pipeline.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "Ce workflow joue le rôle de worker.\nIl dépile un job depuis Redis, normalise les données du job, passe le statut à processing, télécharge le PDF depuis MinIO, exécute le traitement, puis met à jour le statut en done ou failed dans PostgreSQL.",
        "height": 352,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        416
      ],
      "typeVersion": 1,
      "id": "1c0afad8-9fb1-4664-b93f-1868da1895d8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "End-to-End Async PDF Processing & RAG Pipeline (n8n + Redis + MinIO + PGVector)\n\nThis template implements a scalable asynchronous PDF processing pipeline.\n\nWorkflow 1 handles file ingestion: it receives a PDF via webhook, uploads it to MinIO (S3-compatible storage), creates a tracking record in PostgreSQL, and pushes a job into a Redis queue.\n\nWorkflow 2 acts as a worker: it consumes jobs from Redis, updates job status to processing, downloads the PDF, extracts and processes its content, and stores results in PostgreSQL.\n\nThe pipeline supports error handling, status tracking, and can be extended with vector embeddings and RAG-based retrieval.",
        "height": 336,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -368
      ],
      "typeVersion": 1,
      "id": "6bb43fa4-2b30-4090-87fe-4082becf823d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Ce workflow gère l’entrée des PDF.\nIl reçoit le fichier via Webhook, prépare les métadonnées utiles, stocke le PDF dans MinIO, crée un enregistrement dans PostgreSQL avec le statut uploaded, pousse le job dans Redis, puis passe le statut à queued.",
        "height": 384,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        -112
      ],
      "typeVersion": 1,
      "id": "9f1affba-48b1-4a22-a898-c05f5f36354b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Workflow 1 — Ingestion PDF",
        "height": 80,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        176
      ],
      "typeVersion": 1,
      "id": "5f32f528-3736-4a51-abe0-dc48cb600fc1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Workflow 2 — Worker PDF",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        640
      ],
      "typeVersion": 1,
      "id": "419e37b6-e8cb-49be-b393-8acd305927de",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c01cc9a0-089f-43af-926e-564d50fcebe9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        16
      ],
      "id": "27fb2f9f-8640-4b5f-8c39-c18ea6ff84d0",
      "name": "Webhook - Réception PDF",
      "webhookId": "c01cc9a0-089f-43af-926e-564d50fcebe9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a7aafaa-bb3c-4d1b-8236-6528be08dcf3",
              "name": "fileName",
              "value": "={{ $binary.data.fileName }}",
              "type": "string"
            },
            {
              "id": "9ffae247-457d-4806-aa0c-735affb7cdcd",
              "name": "key",
              "value": "={{ 'uploads/' + $binary.data.fileName }}",
              "type": "string"
            },
            {
              "id": "60a9a721-07ab-4ed5-9281-3d750038fe4a",
              "name": "fileSize",
              "value": "={{ Math.round(parseFloat($binary.data.fileSize) * 1024) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        16
      ],
      "id": "d844e5cf-462e-496b-ab98-7e42c932a668",
      "name": "Set - Préparer métadonnées fichier"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "pdf-storage",
        "fileName": "={{ $json.key }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -320,
        16
      ],
      "id": "d642a41e-8725-44a9-87f1-8485e7e94b7f",
      "name": "S3 - Upload PDF vers MinIO",
      "alwaysOutputData": false,
      "credentials": {
        "s3": {
          "id": "5a4MixV6JdiBSnr9",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.pdf_jobs (\n  id,\n  filename,\n  storage_key,\n  status,\n  tenant_id,\n  file_size,\n  uploaded_at\n)\nVALUES (\n  gen_random_uuid(),\n  '{{ $(\"Set - Préparer métadonnées fichier\").item.json.fileName }}',\n  '{{ $(\"Set - Préparer métadonnées fichier\").item.json.key }}',\n  'uploaded',\n  'tenant-a',\n  {{ $(\"Set - Préparer métadonnées fichier\").item.json.fileSize }},\n  NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        16
      ],
      "id": "a9409313-2e8e-463d-8fef-8538935841b5",
      "name": "Postgres - Créer job PDF (uploaded)",
      "credentials": {
        "postgres": {
          "id": "hOFDtZcMDBz2Idwq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "pdf_jobs",
        "messageData": "={   \"job_id\": \"{{ $json.id }}\",   \"filename\": \"{{ $json.filename }}\",   \"storage_key\": \"{{ $json.storage_key }}\",   \"tenant_id\": \"{{ $json.tenant_id }}\" }"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        128,
        16
      ],
      "id": "6fc45a6f-ab64-4ac1-9c4f-09ac9846f73a",
      "name": "Redis - Empiler job PDF",
      "credentials": {
        "redis": {
          "id": "8eDhZCgKrTu5YL03",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.pdf_jobs\nSET \n  status = 'queued',\n  file_size = {{ $json.file_size }}\nWHERE id = '{{$json.id}}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        16
      ],
      "id": "6d8bea9d-d6a6-4e3b-bb15-84f4968bbac3",
      "name": "Postgres - Marquer job en queued",
      "credentials": {
        "postgres": {
          "id": "hOFDtZcMDBz2Idwq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        484
      ],
      "id": "23e8daf3-b09f-479a-a237-50030ba0d0b1",
      "name": "Schedule - Déclencheur worker"
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "pdf_jobs",
        "tail": true,
        "propertyName": "job",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -544,
        484
      ],
      "id": "f14d27b4-9d7c-4585-8398-21783c7b688b",
      "name": "Redis - Récupérer job PDF",
      "credentials": {
        "redis": {
          "id": "8eDhZCgKrTu5YL03",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2daeb44-f5de-4607-8975-b818f49bc37d",
              "name": "job_id",
              "value": "={{ $json.job.job_id.replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "53d61741-aa4e-4e7f-944c-1a6c9022c153",
              "name": "filename",
              "value": "={{ $json.job.filename.replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "06b387a8-58e4-44fd-8784-737e3801fa2c",
              "name": "storage_key",
              "value": "={{ $json.job.storage_key.replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "8795407d-d88c-4109-b623-008c24a68f88",
              "name": "tenant_id",
              "value": "={{ $json.job.tenant_id.replace(/^=/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        484
      ],
      "id": "a335f76e-921b-4470-9a7b-36c6884a0c3d",
      "name": "Set - Normaliser payload job"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.pdf_jobs\nSET\n  started_at = NOW(),\n  status = 'processing'\nWHERE id = '{{$json.job_id}}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        556
      ],
      "id": "55c7fe36-0df5-4256-86b4-fe17975585ac",
      "name": "Postgres - Marquer job en processing",
      "credentials": {
        "postgres": {
          "id": "hOFDtZcMDBz2Idwq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "pdf-storage",
        "fileKey": "={{ $json.storage_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        128,
        556
      ],
      "id": "3465abb8-1020-4e4d-8867-3577181e3963",
      "name": "S3 - Télécharger PDF",
      "credentials": {
        "s3": {
          "id": "5a4MixV6JdiBSnr9",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.pdf_jobs\nSET\n  finished_at = NOW(),\n  status = 'done'\nWHERE id = '{{$json.job_id}}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        536
      ],
      "id": "4f7e56e7-e1d2-4d98-ab89-fe0e2d0493c9",
      "name": "Postgres - Marquer job en done",
      "credentials": {
        "postgres": {
          "id": "hOFDtZcMDBz2Idwq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.pdf_jobs\nSET\n  finished_at = NOW(),\n  status = 'failed',\n  error_message = 'PDF extraction failed'\nWHERE id = '{{$json.job_id}}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        604
      ],
      "id": "d653bb7d-44f8-4adf-8d9b-32842af5f907",
      "name": "Postgres - Marquer job en failed",
      "credentials": {
        "postgres": {
          "id": "hOFDtZcMDBz2Idwq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        556
      ],
      "id": "d717f80d-a6a8-4c51-ac38-707b66e86760",
      "name": "HTTP - Extraire contenu PDF",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.pdf_documents (\n  job_id, tenant_id, filename, storage_key, \n  extracted_text, page_count, content_type, extraction_status\n)\nVALUES ($1, $2, $3, $4, $5, $6, $7, 'extracted')\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [\n  $json.job_id,\n  $json.tenant_id,\n  $json.filename,\n  $json.storage_key,\n  $json.extracted_text,\n  $json.page_count,\n  $json.content_type,\n  'extracted'\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        388
      ],
      "id": "819d7f67-69b8-4b34-927f-a665ed089ae3",
      "name": "Postgres - Enregistrer document extrait",
      "credentials": {
        "postgres": {
          "id": "hOFDtZcMDBz2Idwq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        388
      ],
      "id": "6f31a5aa-a754-4bf8-a84b-9e885ac10a5c",
      "name": "Merge - Fusionner job + extraction"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet text = item.json.extracted_text || \"\";\n\n// normalisation basique\ntext = text\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\\t/g, \" \")\n  .replace(/\\u0000/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// fusion légère des lignes cassées\ntext = text\n  .split(\"\\n\")\n  .map(line => line.trim())\n  .filter(line => line.length > 0)\n  .join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      ...item.json,\n      clean_text: text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        388
      ],
      "id": "69613c53-645e-4f32-8ff4-d17df8df3cb3",
      "name": "Code - Nettoyer texte extrait"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst text = item.json.clean_text || \"\";\nconst chunkSize = 1200;   // taille approximative en caractères\nconst overlap = 200;      // recouvrement entre chunks\n\nif (!text.trim()) {\n  return [];\n}\n\nconst chunks = [];\nlet start = 0;\nlet index = 0;\n\nwhile (start < text.length) {\n  let end = start + chunkSize;\n\n  if (end < text.length) {\n    const lastSpace = text.lastIndexOf(\" \", end);\n    if (lastSpace > start + 200) {\n      end = lastSpace;\n    }\n  }\n\n  const chunkText = text.slice(start, end).trim();\n\n  if (chunkText) {\n    chunks.push({\n      json: {\n        job_id: item.json.job_id,\n        tenant_id: item.json.tenant_id,\n        filename: item.json.filename,\n        storage_key: item.json.storage_key,\n        chunk_index: index,\n        chunk_text: chunkText\n      }\n    });\n    index++;\n  }\n\n  start = Math.max(end - overlap, end);\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        388
      ],
      "id": "924f73d3-8ad8-49ec-9f72-94a686445ee4",
      "name": "Code - Découper en chunk"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.pdf_chunks (\n  job_id,\n  tenant_id,\n  filename,\n  storage_key,\n  chunk_index,\n  chunk_text\n)\nVALUES (\n  '{{$json.job_id}}',\n  '{{$json.tenant_id}}',\n  '{{$json.filename}}',\n  '{{$json.storage_key}}',\n  {{$json.chunk_index}},\n  '{{$json.chunk_text.replace(/'/g, \"''\")}}'\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        240
      ],
      "id": "caa23cef-4ca1-49b4-ba39-fa2b606a662a",
      "name": "Postgres - Enregistrer chunks",
      "credentials": {
        "postgres": {
          "id": "hOFDtZcMDBz2Idwq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1472,
        536
      ],
      "id": "3b7cbb09-6d27-49af-8d97-e482c1e80223",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "039nvylESF5ZxaeC",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.chunk_text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1608,
        760
      ],
      "id": "46e47db6-4bb6-45ba-bbb2-167553b4f849",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -192,
        1248
      ],
      "id": "a7dd69ad-e305-4448-8990-e728aba18bf6",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "039nvylESF5ZxaeC",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -736,
        896
      ],
      "id": "11b6d7a6-8d08-492c-b98b-4962566a1e00",
      "name": "Chat - Recevoir la question utilisateur",
      "webhookId": "5bcf8bdb-a708-40ae-ab85-55938cfb1203"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -336,
        928
      ],
      "id": "51eeae31-18a6-4b28-a7f5-488188557f7a",
      "name": "RAG - Générer la réponse à partir des documents"
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -80,
        1072
      ],
      "id": "05163694-838d-45d7-ac54-e5a1896b2d2c",
      "name": "Vector Store - Base documentaire PGVector"
    },
    {
      "parameters": {
        "content": "Ce workflow correspond au pipeline de question/réponse RAG.\nIl reçoit une question utilisateur, recherche les chunks les plus pertinents dans la base vectorielle, puis utilise un modèle de langage pour générer une réponse fondée sur les documents indexés.",
        "height": 256,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        800
      ],
      "typeVersion": 1,
      "id": "f658634d-dc94-4869-ba42-34c7260ebe7c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        1216
      ],
      "id": "6b1a7fa9-461c-4653-b9ce-3bdfd3c95183",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KFVt0zygfkRrj7fo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        1376
      ],
      "id": "f754f1d4-1245-4e4e-a6a3-6c72cd77c2f5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "KFVt0zygfkRrj7fo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1480,
        760
      ],
      "id": "59619b10-d84e-436f-bf68-fd2f5170c051",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "KFVt0zygfkRrj7fo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Set - Normaliser payload job": [
      {
        "json": {
          "job_id": "a873b0ba-416b-489d-b508-3291cb14b0f3",
          "filename": "Tome_I_2324.pdf",
          "storage_key": "uploads/Tome_I_2324.pdf",
          "tenant_id": "tenant-a"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - Réception PDF": {
      "main": [
        [
          {
            "node": "Set - Préparer métadonnées fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Préparer métadonnées fichier": {
      "main": [
        [
          {
            "node": "S3 - Upload PDF vers MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 - Upload PDF vers MinIO": {
      "main": [
        [
          {
            "node": "Postgres - Créer job PDF (uploaded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Créer job PDF (uploaded)": {
      "main": [
        [
          {
            "node": "Redis - Empiler job PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Empiler job PDF": {
      "main": [
        [
          {
            "node": "Postgres - Marquer job en queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Déclencheur worker": {
      "main": [
        [
          {
            "node": "Redis - Récupérer job PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Récupérer job PDF": {
      "main": [
        [
          {
            "node": "Set - Normaliser payload job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normaliser payload job": {
      "main": [
        [
          {
            "node": "Postgres - Marquer job en processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - Fusionner job + extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Marquer job en processing": {
      "main": [
        [
          {
            "node": "S3 - Télécharger PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 - Télécharger PDF": {
      "main": [
        [
          {
            "node": "HTTP - Extraire contenu PDF",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP - Extraire contenu PDF": {
      "main": [
        [
          {
            "node": "Merge - Fusionner job + extraction",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Postgres - Marquer job en failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Enregistrer document extrait": {
      "main": [
        [
          {
            "node": "Code - Nettoyer texte extrait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Fusionner job + extraction": {
      "main": [
        [
          {
            "node": "Postgres - Enregistrer document extrait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Nettoyer texte extrait": {
      "main": [
        [
          {
            "node": "Code - Découper en chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Découper en chunk": {
      "main": [
        [
          {
            "node": "Postgres - Enregistrer chunks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Enregistrer chunks": {
      "main": [
        []
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Postgres - Marquer job en done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store - Base documentaire PGVector",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Marquer job en failed": {
      "main": [
        []
      ]
    },
    "Chat - Recevoir la question utilisateur": {
      "main": [
        [
          {
            "node": "RAG - Générer la réponse à partir des documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG - Générer la réponse à partir des documents": {
      "main": [
        []
      ]
    },
    "Vector Store - Base documentaire PGVector": {
      "ai_retriever": [
        [
          {
            "node": "RAG - Générer la réponse à partir des documents",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG - Générer la réponse à partir des documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d8b1971c-68a2-4b19-9856-05e0d8b85c3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08a5a7ca1053f8e73004eb8a4a70aa60f597d80f00d24abfe1fd3a3c4d28486d"
  },
  "id": "j2Mn8niDG3cGDCPs",
  "tags": []
}